*{
	box-sizing: border-box;
}
body{
background-color: white;
font-family: "Georgia", "Times New Roman", "Times", Serif;
font-size: 16px;
padding: 0;
margin: 0;
position: relative;


}

header{
background-color: white;
border-top:1px solid green;
border-bottom:1px solid green;
padding: 5px 0 0 10%;
width: 100%;
height: 80px;
margin: 0;
}

#logo{
width: 25%;
float: left;

}
#site-name{
	
	font-family: "Comic Sans", "Comic Sans MS", "cursive", "Zapf Chancery";
	font-weight: bolder;
	font-size: 24px;
	text-align: center;
	width: 50%;
	padding-top: 5px;
	float: left;
	}
#logo-id
{
	width: 200px;
	height: 70px;
	float: left;

}

nav{
	clear: both;
background-color: green;
border-bottom: 1px solid #ccc;
padding: 0;
width: 80%;
margin: 0 10% 0 10%;
padding-left: 12%;

}
.ul-class{
	display: inline-block;
	list-style: none
}
.ul-class > li{

	display: inline-block;
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
	border: 1px solid white;
}

a{
	text-decoration: none;
	color: black;

}
.container{
width: 59%;
padding: 10px;

margin-left: 10%;
float: left;
margin-right: 10px;
border: 1px solid green;

}

section {
	float: left;
	margin: 10px;

	}


article{
	line-height: 28px;
	height: 100%
	
}
aside{

	width: 20%;
	height: 180px;
	float: left;
	border: 1px solid green;
	background-image: url("../images/download.jpg");
	background-repeat: no-repeat;
	border-radius: 10px;

}
footer{
	
	clear: both;
border-top:1px solid green;
border-bottom:1px solid green;
width: :100%;
padding: 15px;
margin: 0;
position: relative;
bottom: 0;
left: 0;
text-align: center;

}